@use "@/styles/variables.scss" as vars;

.nextRoundIdentifier {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: vars.$white;
    border-radius: 5px;
    border: 1px solid vars.$black;
    z-index: 4;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: vars.$white;
    opacity: 0.5;
    z-index: 3;
}