@use "@/styles/variables.scss" as vars;
@use "sass:color";

.selectPawn {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.pawnSelector {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
}

.yellow {
    background: vars.$yellow;

    &:hover {
        background: color.scale(vars.$yellow, $lightness: -10%);
    }
}

.red {
    background: vars.$red;

    &:hover {
        background: color.scale(vars.$red, $lightness: -10%);
    }
}

.blue {
    background: vars.$blue;

    &:hover {
        background: color.scale(vars.$blue, $lightness: -10%);
    }
}

.green {
    background: vars.$green;

    &:hover {
        background: color.scale(vars.$green, $lightness: -10%);
    }
}

.crossHair {
    animation: fade-in 200ms ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}