@use "@/styles/variables.scss" as vars;

.teamContainer {
    border-radius: 3px;
    background: vars.$white;
    border: 1px solid vars.$black;
    z-index: 1;
}

.divider {
    height: 1px;
    background: vars.$black;
}

.gold {
    background: vars.$yellow;
    color: vars.$white;
}
