@use "@/styles/variables.scss" as vars;

.storePower {
    border-radius: 3px;
    border: 1px solid vars.$muted-font;
    background: vars.$white;
}

.powerName {
    border-bottom: 1px solid vars.$muted-font;
}
