@use "@/styles/variables.scss" as vars;

.clock {
    stroke: vars.$black;
    stroke-width: 1;
}

.greenTime {
    fill: vars.$green;
}

.lowTime {
    fill: vars.$red;
}

.pointer {
    stroke: vars.$black;
    stroke-linecap: round;
    transition: all 300ms ease-out;
}

.background {
    position: fixed;
    top: env(safe-area-inset-top);
    right: env(safe-area-inset-right);
    bottom: env(safe-area-inset-bottom);
    left: env(safe-area-inset-left);
    pointer-events: none;
    min-height: calc(100vh + env(safe-area-inset-top) + env(safe-area-inset-bottom));
}
