@use "@/styles/variables.scss" as vars;

.mainContainer {
    margin: 70px 15px 60px;
    z-index: 1;
    overflow: auto;
}

.clock {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: -1;
}