@use "@/styles/variables.scss" as vars;

.configuration {
    border-right: 1px solid vars.$black;
    background: vars.$white;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.mobileCollapsed {
    background: vars.$white;
    border: 1px solid vars.$black;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    position: fixed;
}

.inviteLink {
    cursor: pointer;

    &:hover {
        color: vars.$muted-font;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(vars.$black, 0.25);
    z-index: 1;
}