.selectPawn {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.pawnSelector {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
}
