@use "@/styles/variables.scss" as vars;

.snapshotState {
    position: fixed;
    bottom: 5px;
    right: 25px;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}

.assumePlayer {
    border: 1px solid vars.$border-color;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: vars.$hover;
    }
}
