@use "@/styles/variables.scss" as vars;

.indicator {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.connected {
    background-color: vars.$green;
}

.disconnected {
    background-color: vars.$red;
}
