@use "@/styles/variables.scss" as vars;

.baseClock {
    fill: vars.$yellow;
    stroke: vars.$black;
    stroke-width: 1;
}

.night {
    fill: vars.$blue;
    stroke: vars.$black;
    stroke-width: 1;
}

.pointer {
    stroke: vars.$black;
    stroke-linecap: round;
    transition: all 300ms ease-out;
}

.lastDay {
    stroke: vars.$red;
    fill: vars.$red;
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    
    &.night {
        background: rgba(vars.$blue, 0.1);
    }

    &.day {
        background: rgba(vars.$yellow, 0.1);
    }

    &.locked {
        background: rgba(vars.$red, 0.15);
    }
}
