@use "@/styles/variables.scss" as vars;

.tab {
    cursor: pointer;
    
    &:hover {
        text-decoration: underline;
    }

    &.active {
        text-decoration: underline;
        color: vars.$blue;
    }
}