@use "@/styles/variables.scss" as vars;

.overallContainer {
    margin: 100px auto;
}

.players {
    border-radius: 5px;
    background: vars.$white;
    border: 1px solid vars.$black;
    padding: 20px;
    min-width: 29vw;
}

.startGame {
    padding: 5px 0;
}

.inviteLink {
    cursor: pointer;

    &:hover {
        color: vars.$muted-font;
    }
}
