@use "@/styles/variables.scss" as vars;

.player {
    border-radius: 5px;
    border: 1px solid vars.$black;
}

.previousGuessContainer {
    max-height: 150px;
    height: 150px;
    overflow-y: auto;
    border: 1px solid vars.$border-color;
    border-radius: 5px;
    background: vars.$white;
}

.correctGuess {
    background: vars.$green;
    color: vars.$white;
}