@import "@/styles/variables.scss";

.formBoxContainer {
    margin: 100px auto;
    background: $background;
}

.formBox {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 600px;
    height: fit-content;
    background: $white;
}
