@use "@/styles/variables.scss" as vars;

.selectGame {
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid vars.$muted-font;
    width: 275px;
    
    &.active {
        border: 2px solid vars.$blue;
        background: rgba(vars.$blue, 0.1);
    }

    &:hover {
        background: vars.$muted-font;
    }
}
