@use "@/styles/variables.scss" as vars;

.portfolioContainer {
    border-radius: 5px;
    background: vars.$white;
    border: 1px solid vars.$muted-font;
    overflow-y: auto;
}

.divider {
    background: vars.$muted-font;
    height: 1px;
}

.cash {
    color: vars.$green;
}

.debt {
    color: vars.$red;
}