@use "@/styles/variables.scss" as vars;

.formBoxContainer {
    margin: 100px auto;
    background: vars.$background;
}

.formBox {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
    margin: auto;
    background: vars.$white;
}

.goHome {
    position: fixed;
    top: 10px;
    left: 10px;
    background: vars.$white;
    z-index: 1;
}

